<% if post_report%>
  <% post = Post.find_by(id: post_report.reportable_id) %>
  <h3> <%= post.title %> </h3>
  <p> <%= post.body %> </p>

  <%= link_to "Delete Post", post_path(post), method: :delete, data: { confirm: "Are you sure? " } %>

  <hr>
<% else %>
  <p>No posts reported recently. </p>

<% end %>
