<h2> Reported Posts </h2>
<% if @reported_posts.blank? %>
  <p> No posts have been reported recently. </p>
<% else %>
  <%= render partial: 'post_report', collection: @reported_posts  %>
<% end %>

<h2> Reported Comments </h2>
<% if @reported_comments.blank? %>
  <p> No comments have been reported recently. </p>
<% else %>
  <%= render partial: 'comment_report', collection: @reported_comments %>
<% end %>
